<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=80%, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Mission to Mars</title>
</head>

<body>
    <div class="container align-self-center" style="width:80%">
    <div class="jumbotron dark">
        <h1 class="display-4">Mission to Mars</h1>
        <p class="lead">Learn about Mars from live data scraped from NASA, USGS Astrogeology, NASA's Twitter page, and JPL.</p>
        <hr class="my-4">
        <a class="btn btn-primary btn-lg" href="/scrape" role="button">Fetch New Data</a>
    </div>

    <div class="row">

    </div>

    </div>


    
</body>

</html>